* {
  margin: 0; padding: 0;
  box-sizing: border-box; 
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
}

form {
  padding: 20px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
}

form img {
  margin-top: 20px;
  height: 147px;
  width: 170px;
  left: 875px;
  top: 197px;
  border-radius: 0px;  
}

form input {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 444px;
  height: 62px;
  border: none;
  background: none;
  text-align: left;
  outline: none;
  padding: 10px;
  margin: 20px;
  color: #878787;
  border-radius: 5px;
  transition: 0.2s ease-in;
  font-size: 18px;
}

form input[type="text"],
form input[type="password"] {
  border: solid 1px #878787;
}

form input[type="submit"] {
  width: 115px;
  height: 41px;
  color: white;
  background-color: #212AFF;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  text-align: center;
  cursor: pointer;
}

form input[type="text"]:focus,
form input[type="password"]:focus {
  border: solid 2px #212AFF;
}

form input[type="submit"]:hover {
  background: white;
  color: #212AFF;
}